$primary: #17214d;
$secondary: #f4a640;
$white: #fff;
$dark_white: #fafafa;
$black: #000;
$primary-active: #162b49;
$secondary-active: #f4a640;
$link_hover: blue;
$light_text: #555185;
$dark_text: #1f1f1f;
$flex_dark_text: #06063d;
$placeholder: #6c798b;
$btn_active: #f4a64080;
$sponsors_bg: #fff2dd;
$box1_bg: linear-gradient(0deg, #ffffff 13.15%, #e06c6c 113.15%);
$box2_bg: linear-gradient(0deg, #ffffff 13.15%, #ffd67d 113.15%);
$box3_bg: linear-gradient(0deg, #ffffff 5.01%, #8beb91 105.01%);
$shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
$shadow_hover: rgba(0, 0, 0, 0.09) 0px 3px 12px;
$driving_test_bg: linear-gradient(0deg, #ffffff 13.15%, #5ac1df 113.15%);
$why_choose_bg: linear-gradient(0deg, #ffffff 13.15%, #ffe2b3 113.15%);
$ready_for_box1: linear-gradient(
  to left,
  #ffffff,
  #eeddf2,
  #ebb7d5,
  #eb90a8,
  #e06c6c
);
$ready_for_box2: linear-gradient(
  to left,
  #ffffff,
  #e4f8ff,
  #aff7ff,
  #90f4db,
  #aee897
);
$ready_for_box3: linear-gradient(
  to left,
  #ffffff,
  #ebf0ff,
  #c8e4ff,
  #97dcff,
  #4cd4fa
);
$ready_for_box4: linear-gradient(
  to left,
  #ffffff,
  #e8e3ff,
  #d2c8ff,
  #bbadff,
  #a392ff
);

$footer_bg: #fffdf8;

/* MEDIA SCREENS 
@media screen and (min-width: 1200px) {
  
 }
    @media screen and (min-width: 992px) {

    }
    
    @media screen and (min-width: 576px) {

    }

      @media screen and (min-width: 400px) {

      }
*/

/* background: linear-gradient(0deg, #FFFFFF 13.15%, #E06C6C 113.15%);
 */

/* background: linear-gradient(0deg, #FFFFFF 13.15%, #FFD67D 113.15%);
 */

/* background: linear-gradient(0deg, #FFFFFF 5.01%, #8BEB91 105.01%);
 */
/* background: linear-gradient(0deg, #FFFFFF 13.15%, #5AC1DF 113.15%);
 */
/* background: linear-gradient(0deg, #FFFFFF 13.15%, #FFE2B3 113.15%);
 */

/* background: linear-gradient(0deg, #FFFFFF 13.15%, #E06C6C 113.15%);
 */

/* background: linear-gradient(0deg, #FFFFFF 13.15%, #AEE897 113.15%);
 */

/* background: linear-gradient(0.41deg, #FFFFFF 1.79%, #4CD4FA 112.71%);
 */

/* background: linear-gradient(360deg, #FFFFFF 13.15%, #A392FF 113.15%);
 */
